@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #585858

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-size: cover
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			color: #fff
			.top-line
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1

.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 18px 54px
	font-size: 13px
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 3px
	border-radius: 2px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($accent, 5%)
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

.logo
	img
		margin-left: 45px
		margin-top: 0px
		height: auto
		width: 125px
.phone
	position: absolute
	right: 85px
	top: 40px
	font-family: firasans, sans-serif
	font-size: 22px
	white-space: nowrap
	.fa
		color: #AAA
		font-size: 22px
		margin-right: 3px

	input, textarea
		border: #585858 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

section, header 
	position: relative
	background-size: cover 
	background-position: center

section 
	background-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.hamburger
	right: 0
	position: absolute
	top: 32px
	.hamburger-box
		width: 34px

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
	width: 34px
	border-radius: 0
	background-color: #fff
	height: 2px	
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after
	background-color: #ffffff

.mm-navbar
	height: auto
	position: relative
	padding: 0
	border: none 
	.mm-navbar__title
		padding: 0
		img
			width: 128px
			height: auto
			margin: 25px 0 30px 0
.mm-panel
	padding: 0 25px
html.mm-wrapper_opened
	overflow-y: scroll
.mm-panels, .mm-panels > .mm-panel
	right: -18px
	left: 0
.mm-listitem_selected > .mm-listitem__text
	background-color: transparent
.mm-menu .mm-listitem_selected a 
	color: #ffffff
.mm-menu .mm-listitem_selected a:visited 
	color: $accent
.mm-listitem::after 
	border: none
.mm-panel_has-navbar
	padding-top: 0
.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview
	margin-top: 0

.mm-listview
	> li
		> a
			transition: color 0.25s ease
			padding: 
				left: 12%
				right: 12%
			&:hover
				color: $accent
			&::before
				content: '\f3a5'
				font-family: "Font Awesome 5 Free"
				font-size: 12px
				margin-right: 12px
		&.active
			&>a
				color: $accent

.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0

.flex-center
	margin: auto

.header-composition
	text-align: center
	position: relative
	p
		margin-top: 40px
	.hc-welcome
		p 
			font-size: 14px
			text-transform: uppercase
			display: flex
			align-items: center
			white-space: nowrap
			margin: 0
			letter-spacing: 2px
			span
				margin: 0 10px
			&::before, &::after
				content: ''
				height: 1px
				width: 100%
				position: relative
				background-color: #ffffff
				display: inline-block
		.h1
			font-weight: 100
			font-size: 62px
			white-space: nowrap
			text-transform: uppercase
			margin: 0 auto
			line-height: 1.6
			position: relative
			border-bottom: 1px solid #ffffff
		strong
			display: block
			text-transform: uppercase
			font-size: 17px
			margin-top: 22px
			.fa
				margin-right: 10px
				font-size: 12px
				color: #777777
				margin-bottom: -2px
				&:last-child
					margin-right: inherit	
					margin-left: 10px
	.hc-link
		.button
			margin-top: 24px





		



@import "media" // Always at the end
